@page
@model _02___BibliotecaWEB.Pages.IndexModel
@{
}

<style>
    h1 {
        text-align: center;
        text-transform: uppercase;
        color: orange;
        text-shadow: 2px 2px 5px black;
        font-size: 400%;
    }

</style>
    

<h1>BENVENUTO alla mia prima BibliotecaWEB!</h1>
