<style>
    h2 {
        text-align: left;
        text-transform: uppercase;
        color: orange;
        text-shadow: 2px 2px 5px black;
        font-size: 300%;
    }
</style>


<h2> Inserisci nuovo libro</h2>

<form action="/Libro/NuovoLibro">

    <input type="text" placeholder="Titolo.." name="titolo" /> <br>
    <input type="text" placeholder="Genere.." name="genere" /> <br>
    <input type="number" placeholder="Anno.." name="annopubblicazione" /> <br>
    <input type="text" placeholder="Lingua.." name="linguaoriginale" /> <br>
    <input type="number" placeholder="Copie.." name="copiemagazzino" /> <br>
    <input type="number" placeholder="IdAutore.." name="idautore" /> <br>


    <input type="submit" value="Salva" />


</form>