<head>
    <!-- Importo la libreria jQuery, il nostro file JS e un CSS esterno-->
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/nostro.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>

    <div class="w3-bar w3-red">
        <a class="w3-bar-item w3-button bottonemenu" divDaAprire="home">Home</a>
        <a class="w3-bar-item w3-button bottonemenu" divDaAprire="film">Film</a>
        <a class="w3-bar-item w3-button bottonemenu" divDaAprire="utente">Utenti</a>
        <a class="w3-bar-item w3-button bottonemenu" divDaAprire="prenotazioni">Prenotazioni</a>
        <a class="w3-bar-item w3-button bottonemenu" divDaAprire="nuovofilm">Aggiungi Film</a>
        <a class="w3-bar-item w3-button bottonemenu" divDaAprire="nuovoutente">Aggiungi Utente</a>
    </div>

    <div id="home" class="pagina"></div>

    <div id="film" class="pagina" style="display:none"></div>

    <div id="utente" class="pagina" style="display:none"></div>

    <div id="prenotazioni" class="pagina" style="display:none"></div>

    <div id="nuovofilm" class="pagina" style="display:none"></div>

    <div id="nuovoutente" class="pagina" style="display:none"></div>

    <div id="dettaglifilm" class="pagina" style="display:none"></div>


</body>
