@page
@model _01___AziendaWeb.Pages.Home.IndexModel
@{
}

@*<link rel="stylesheet" href="/css/site.css" />*@

    <h1>BENVENUTO</h1>
    <h2>Le diamo il benvenuto, cosa desidera fare?</h2>

    @*<p id="elencodipendenti">
        <a href="/Dipendente/Elenco">CLICCA QUI per Elenco Dipendenti</a>
    </p>

    <p id="elencoclienti">
        <a href="/Cliente/ElencoCliente">CLICCA QUI per Elenco Clienti</a>
    </p>*@